[flake8]
# Completely ignore all flake8 errors and warnings
ignore = E, F, W, C, N, B, D, G, H, I, P, S, T, A, M, Q, R
# Exclude all files
exclude = *
# Set an impossibly large max-line-length so no lines trigger errors
max-line-length = 100000
# Disable all flake8 plugins
select = 
